# Налаштування середовища розробки (IDEA)
.idea/
*.iws
*.iml
*.ipr
out/

# Бекенд (Java/Maven/Gradle)
target/
build/
.gradle/
bin/

# Фронтенд (React/Node.js)
**/node_modules/
**/build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системні файли
.DS_Store
Thumbs.db